---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      Workshop on 
      <span class="font-weight-bold">Decoding Decisions: Explainability in ML & Sequential Decision Making</span>
    </h1>
    <p class="desc"><b>Workshop at The Conferece on Robots and Vision (CRV) 2025</b></p>
  </header>

  <article>

    Machine learning models are increasingly deployed in high-stakes decision-making processes across various domains, including healthcare, finance, and autonomous systems. However, the opaque nature of these models raises concerns about accountability, trustworthiness, and ethical implications. This workshop aims to advance research at the intersection of explainability and sequential decision-making by exploring novel methodologies for interpreting AI-driven decisions, understanding their causal mechanisms, and ensuring fairness and robustness in dynamic environments.

    <br>
    <br>
    Submission Deadline: <b>TBD, 11:59 PM (AoE)</b>.
    <br>
    The workshop will be held on <b>TBD</b> in <b>Calgary</b>.
    <br>
    For latest news about the workshop, follow <a href="https://twitter.com/explainabilityworkshop" target="_blank" rel="noopener noreferrer noopener noreferrer">@explainabilityworkshop</a> on X/Twitter.
    <br>
    <br>

    <br>
    <div class="speakers">
        <h2>Keynote Speakers</h2>
        <div class="container">
            <div class="row row-cols-2">
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h4 class="card-title">TBD</h4>
                                    <h6 class="card-text">TBD</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="speakers">
        <h2>Panelists</h2>
        <div class="container">
            <div class="row row-cols-2">
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h4 class="card-title">TBD</h4>
                                    <h6 class="card-text">TBD</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="speakers">
        <h2>Organizers</h2>
        <div class="container">
            <div class="row row-cols-2">
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h4 class="card-title">TBD</h4>
                                    <h6 class="card-text">TBD</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="program-committee">
        <h2>Program Committee</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li>TBD</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions?</span></h3>
    Contact us at
    <a href="mailto:explainableml2025@gmail.com" target="_blank">explainableml2025@gmail.com </a> or <a href="https://twitter.com/explainabilityworkshop" target="_blank" rel="noopener noreferrer">@explainabilityworkshop</a>.

  </article>
</div>
