---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      Workshop on 
      <span class="font-weight-bold">Decoding Decisions: Explainability in ML & Sequential Decision Making</span>
    </h1>
    <p class="desc"><b>Workshop at The Conferece on Robots and Vision (CRV) 2025</b></p>
  </header>

  <article>

    Machine learning and sequential decision-making systems are increasingly deployed in high-stakes domains such as healthcare, finance, and autonomous systems. However, the opaque nature of these models raises concerns about transparency, accountability, and robustness. This workshop aims to advance research in explainability for machine learning and sequential decision-making by exploring methodologies to interpret model-driven decisions, understand causal mechanisms, and ensure fairness and reliability in real-world use cases.

    <br>
    <br>
    Submission Deadline: <b>6th May, 2025, 11:59 PM (AoE)</b>.
    <br>
    The workshop will be held on <b> 26th May</b> in <b>Calgary</b>.
    <br>
    For latest news about the workshop, follow <a href="https://twitter.com/ddxmlcrv" target="_blank" rel="noopener noreferrer noopener noreferrer">@ddxmlcrv</a> on X/Twitter.
    <br>
    <br>

    <br>
    <div class="speakers">
        <h2>Confirmed Speakers</h2>
        <div class="container">
            <div class="row row-cols-2">

                <!-- David Meger -->
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-6">

                                <img src="/assets/img/david_meger.png" srcset="/assets/img/david_meger.png" style="width: 150px; height: 150px; object-fit: cover;">

                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">David Meger
                                    </h4>

                                    <h6 class="card-text">McGill University, Mila
                                    </h6>

                                    <div class="row ml-1 mr-1 p-0">
                                        <div class="icon" data-toggle="tooltip" title="Twitter">
                                          <a href="#" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                        </div>

                                         
                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.ca/citations?user=gFwEytkAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>

                                         
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://www.cim.mcgill.ca/~dmeger/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Svetlana -->
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-6">

                                <img src="/assets/img/svetlana.jpg" srcset="/assets/img/svetlana.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">Svetlana Yanushkevich
                                    </h4>

                                    <h6 class="card-text">University of Calgary
                                    </h6>

                                    <div class="row ml-1 mr-1 p-0">
                                        <div class="icon" data-toggle="tooltip" title="Twitter">
                                          <a href="#" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                        </div>

                                         
                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.ca/citations?user=97hBTsgAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>

                                         
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://profiles.ucalgary.ca/svetlana-yanushkevich" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- Hassan -->
                <div class="card-item col">
                  <div class="card">
                      <div class="row g-0">
                          <div class="card-img col-md-6">

                              <img src="/assets/img/hassan.jpg" srcset="/assets/img/hassan.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                          </div>
                          <div class="col-md-6">
                              <div class="card-body">
                                  <h4 class="card-title">Hassan Sajjad
                                  </h4>

                                  <h6 class="card-text"> Dalhousie University
                                  </h6>

                                  <div class="row ml-1 mr-1 p-0">
                                      <div class="icon" data-toggle="tooltip" title="Twitter">
                                        <a href="https://x.com/hassaan84s" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                      </div>

                                       
                                      <div class="google-scholar-icon">
                                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                          <a href="https://scholar.google.de/citations?user=t3BH6NkAAAAJ&hl=en" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                        </div>
                                      </div>

                                       
                                      <div class="website-icon">
                                          <div class="icon" data-toggle="tooltip" title="Website">
                                              <a href="https://hsajjad.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


            </div>
        </div>
    </div>



    <div class="speakers">
        <h2>Tutorials</h2>
        <div class="container">
            <div class="row row-cols-2">

                <!-- Samira -->
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-6">

                                <img src="/assets/img/samira.png" srcset="/assets/img/samira.png" style="width: 150px; height: 150px; object-fit: cover;">

                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">Samira Ebrahimi Kahou
                                    </h4>

                                    <h6 class="card-text">University of Calgary, Mila, CIFAR AI Chair
                                    </h6>

                                    <div class="row ml-1 mr-1 p-0">
                                        <div class="icon" data-toggle="tooltip" title="Twitter">
                                          <a href="https://twitter.com/SamiraEKahou" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                        </div>

                                         
                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.com/citations?user=F99FuaAAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>

                                         
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://saebrahimi.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

                <!-- Ulrich -->
                <div class="card-item col">
                  <div class="card">
                      <div class="row g-0">
                          <div class="card-img col-md-6">

                              <img src="/assets/img/ulrich.png" srcset="/assets/img/ulrich.png" style="width: 150px; height: 150px; object-fit: cover;">

                          </div>
                          <div class="col-md-6">
                              <div class="card-body">
                                  <h4 class="card-title">Ulrich Aïvodji
                                  </h4>

                                  <h6 class="card-text"> ETS Montreal, Mila
                                  </h6>

                                  <div class="row ml-1 mr-1 p-0">
                                      <div class="icon" data-toggle="tooltip" title="Twitter">
                                        <a href="https://x.com/umaivodj" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                      </div>

                                       
                                      <div class="google-scholar-icon">
                                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                          <a href="https://scholar.google.com/citations?hl=fr&user=47kuuqIAAAAJ&sortby=pubdate" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                        </div>
                                      </div>

                                       
                                      <div class="website-icon">
                                          <div class="icon" data-toggle="tooltip" title="Website">
                                              <a href="https://aivodji.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>


            </div>
        </div>
    </div>



    <!-- <br>
    <div class="speakers">
        <h2>Panelists</h2>
        <div class="container">
            <div class="row row-cols-2">
                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h4 class="card-title">TBD</h4>
                                    <h6 class="card-text">TBD</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br> -->
    <div class="speakers">
        <h2>Organizers</h2>
        <div class="container">
            <div class="row row-cols-2">

                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-6">
  
                                <img src="/assets/img/ankur.png" srcset="/assets/img/ankur.png" style="width: 150px; height: 150px; object-fit: cover;">
  
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">Ankur Garg
                                    </h4>
  
                                    <h6 class="card-text"> University of Calgary
                                    </h6>
  
                                    <div class="row ml-1 mr-1 p-0">
                                        <div class="icon" data-toggle="tooltip" title="Twitter">
                                          <a href="#" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                        </div>
  
                                         
                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="#" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>
  
                                         
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://www.linkedin.com/in/ankurgarg96/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>
  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-6">
  
                                <img src="/assets/img/manizeh.png" srcset="/assets/img/manizeh.png" style="width: 150px; height: 150px; object-fit: cover;">
  
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">Manizheh GhaemiDizaji
                                    </h4>
  
                                    <h6 class="card-text"> University of Calgary
                                    </h6>
  
                                    <div class="row ml-1 mr-1 p-0">
                                        <div class="icon" data-toggle="tooltip" title="Twitter">
                                          <a href="#" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                        </div>
  
                                         
                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="#" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>
  
                                         
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://www.linkedin.com/in/manizheh-ghaemidizaji-188a3b90/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>
  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-6">
  
                                <img src="/assets/img/rishav.png" srcset="/assets/img/rishav.png" style="width: 150px; height: 150px; object-fit: cover;">
  
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">Rishav Rishav
                                    </h4>
  
                                    <h6 class="card-text"> Mila, University of Calgary
                                    </h6>
  
                                    <div class="row ml-1 mr-1 p-0">
                                        <div class="icon" data-toggle="tooltip" title="Twitter">
                                          <a href="https://twitter.com/rishav_real" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                        </div>
  
                                         
                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.com/citations?user=DlT4loUAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>
  
                                         
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://rish-av.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>
  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card-item col">
                    <div class="card">
                        <div class="row g-0">
                            <div class="card-img col-md-6">
  
                                <img src="/assets/img/samira.png" srcset="/assets/img/samira.png" style="width: 150px; height: 150px; object-fit: cover;">
  
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">Samira Ebahimi Kahou
                                    </h4>
  
                                    <h6 class="card-text"> University of Calgary, Mila, CIFAR AI Chair
                                    </h6>
  
                                    <div class="row ml-1 mr-1 p-0">
                                        <div class="icon" data-toggle="tooltip" title="Twitter">
                                          <a href="https://twitter.com/SamiraEKahou" title="Twitter" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                        </div>
  
                                         
                                        <div class="google-scholar-icon">
                                          <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                            <a href="https://scholar.google.com/citations?user=F99FuaAAAAAJ" title="GooleScholar" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                          </div>
                                        </div>
  
                                         
                                        <div class="website-icon">
                                            <div class="icon" data-toggle="tooltip" title="Website">
                                                <a href="https://saebrahimi.github.io/" title="Website" target="_blank" rel="noopener noreferrer noopener noreferrer"><i class="fas fa-address-card"></i></a>
                                            </div>
                                        </div>
  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                

            </div>
        </div>
    </div>

    <br>
    <div class="program-committee">
        <h2>Program Committee</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul>
                        <li>Ankur Garg</li>
                        <li>Manizheh GhaemiDizaji</li>
                        <li>Rishav Rishav</li>
                        <li>Kiana Kazeminejad</li>  
                        <li>Gona Rahmaniani</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions?</span></h3>
    Contact us at
    <a href="mailto:explainableml2025@gmail.com" target="_blank">explainableml2025@gmail.com </a> or <a href="https://twitter.com/ddxmlcrv" target="_blank" rel="noopener noreferrer">@ddxmlcrv</a>.

  </article>
</div>
